In [13]:
students=["ali", "aamir","ammar"]

In [2]:
print(students)

['ali', 'aamir', 'ammar']

In [4]:
for student in students:
    print(student)

ali
aamir
ammar

In [5]:
for student in students:
    if student=="ali":
        print(f"{student} chal nikal")
    else:
        print(f"{student} bahar nikal")

ali chal nikal
aamir bahar nikal
ammar bahar nikal

In [7]:
for a in "pakistan":
    print(a, end=" ")

p a k i s t a n

In [8]:
for num in range(100):
    print(num , end =" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [10]:
for num in range(20, 100):
    print(num , end =" ")

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [12]:
tableNum = int(input("please input table number"))

for num in range (1,100):
    print(f"{tableNum} * {num} = {tableNum * num}")

please input table number76
76 * 1 = 76
76 * 2 = 152
76 * 3 = 228
76 * 4 = 304
76 * 5 = 380
76 * 6 = 456
76 * 7 = 532
76 * 8 = 608
76 * 9 = 684
76 * 10 = 760
76 * 11 = 836
76 * 12 = 912
76 * 13 = 988
76 * 14 = 1064
76 * 15 = 1140
76 * 16 = 1216
76 * 17 = 1292
76 * 18 = 1368
76 * 19 = 1444
76 * 20 = 1520
76 * 21 = 1596
76 * 22 = 1672
76 * 23 = 1748
76 * 24 = 1824
76 * 25 = 1900
76 * 26 = 1976
76 * 27 = 2052
76 * 28 = 2128
76 * 29 = 2204
76 * 30 = 2280
76 * 31 = 2356
76 * 32 = 2432
76 * 33 = 2508
76 * 34 = 2584
76 * 35 = 2660
76 * 36 = 2736
76 * 37 = 2812
76 * 38 = 2888
76 * 39 = 2964
76 * 40 = 3040
76 * 41 = 3116
76 * 42 = 3192
76 * 43 = 3268
76 * 44 = 3344
76 * 45 = 3420
76 * 46 = 3496
76 * 47 = 3572
76 * 48 = 3648
76 * 49 = 3724
76 * 50 = 3800
76 * 51 = 3876
76 * 52 = 3952
76 * 53 = 4028
76 * 54 = 4104
76 * 55 = 4180
76 * 56 = 4256
76 * 57 = 4332
76 * 58 = 4408
76 * 59 = 4484
76 * 60 = 4560
76 * 61 = 4636
76 * 62 = 4712
76 * 63 = 4788
76 * 64 = 4864
76 * 65 = 4940
76 * 66 = 5016
76 * 67 = 5092
76 * 68 = 5168
76 * 69 = 5244
76 * 70 = 5320
76 * 71 = 5396
76 * 72 = 5472
76 * 73 = 5548
76 * 74 = 5624
76 * 75 = 5700
76 * 76 = 5776
76 * 77 = 5852
76 * 78 = 5928
76 * 79 = 6004
76 * 80 = 6080
76 * 81 = 6156
76 * 82 = 6232
76 * 83 = 6308
76 * 84 = 6384
76 * 85 = 6460
76 * 86 = 6536
76 * 87 = 6612
76 * 88 = 6688
76 * 89 = 6764
76 * 90 = 6840
76 * 91 = 6916
76 * 92 = 6992
76 * 93 = 7068
76 * 94 = 7144
76 * 95 = 7220
76 * 96 = 7296
76 * 97 = 7372
76 * 98 = 7448
76 * 99 = 7524

In [20]:
for num in range(0,255,2): # for even
    print(num , end =" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254

In [19]:
for num in range(1,250,2): #for odd 
    print(num , end =" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249

In [18]:
for num in range(125,0,-1): #for integers
    print(num , end =" ")

125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [2]:
tableNum = int(input("please input table number: "))

for num in range (1, 10):
    if num % 2 == 0:
        continue
    else:   
         print(f"{tableNum} * {num} = {tableNum * num}")

please input table number: 2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18

In [1]:
tableNum = int(input("please input table number: "))

for num in range (1, 10):
    if num % 2 == 0:
        break
    else:   
        print(f"{tableNum} * {num} = {tableNum * num}")

please input table number: 4
4 * 1 = 4

In [3]:
tableNum = int(input("please input table number: "))

for num in range (1, 10):
    if num % 2 == 0:
        continue
    else:   
        print(f"{tableNum} * {num} = {tableNum * num}")

please input table number: 6
6 * 1 = 6
6 * 3 = 18
6 * 5 = 30
6 * 7 = 42
6 * 9 = 54

In [6]:
Best_friend = []
friend = []


for num in range (10):
    name = input("Enter your friend name: ")
    if name.startswith == ("a"): 
        Best_friend.append(name)
Best_friend

Enter your friend name: ali
Enter your friend name: aaliya
Enter your friend name: dadda
Enter your friend name: patan
Enter your friend name: choona
Enter your friend name: aleena
Enter your friend name: aani
Enter your friend name: ddda
Enter your friend name: baabb
Enter your friend name: baap

[]

# nested for loop

In [7]:
for a in [1,2,3,4,5]:
    for b in 'aliya':
        print(a,b)

1 a
1 l
1 i
1 y
1 a
2 a
2 l
2 i
2 y
2 a
3 a
3 l
3 i
3 y
3 a
4 a
4 l
4 i
4 y
4 a
5 a
5 l
5 i
5 y
5 a

In [11]:
tableNum = int(input("please input table number"))

for num in range (1,10):
    print(f"{tableNum} * {num} = {tableNum * num}")
for a in [1,2,3,4,5,6,7,8,9,10]:
    for b in '1,2,3,4,5,6,7,8,9,10':
        print(a,b)

please input table number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
1 1
1 ,
1 2
1 ,
1 3
1 ,
1 4
1 ,
1 5
1 ,
1 6
1 ,
1 7
1 ,
1 8
1 ,
1 9
1 ,
1 1
1 0
2 1
2 ,
2 2
2 ,
2 3
2 ,
2 4
2 ,
2 5
2 ,
2 6
2 ,
2 7
2 ,
2 8
2 ,
2 9
2 ,
2 1
2 0
3 1
3 ,
3 2
3 ,
3 3
3 ,
3 4
3 ,
3 5
3 ,
3 6
3 ,
3 7
3 ,
3 8
3 ,
3 9
3 ,
3 1
3 0
4 1
4 ,
4 2
4 ,
4 3
4 ,
4 4
4 ,
4 5
4 ,
4 6
4 ,
4 7
4 ,
4 8
4 ,
4 9
4 ,
4 1
4 0
5 1
5 ,
5 2
5 ,
5 3
5 ,
5 4
5 ,
5 5
5 ,
5 6
5 ,
5 7
5 ,
5 8
5 ,
5 9
5 ,
5 1
5 0
6 1
6 ,
6 2
6 ,
6 3
6 ,
6 4
6 ,
6 5
6 ,
6 6
6 ,
6 7
6 ,
6 8
6 ,
6 9
6 ,
6 1
6 0
7 1
7 ,
7 2
7 ,
7 3
7 ,
7 4
7 ,
7 5
7 ,
7 6
7 ,
7 7
7 ,
7 8
7 ,
7 9
7 ,
7 1
7 0
8 1
8 ,
8 2
8 ,
8 3
8 ,
8 4
8 ,
8 5
8 ,
8 6
8 ,
8 7
8 ,
8 8
8 ,
8 9
8 ,
8 1
8 0
9 1
9 ,
9 2
9 ,
9 3
9 ,
9 4
9 ,
9 5
9 ,
9 6
9 ,
9 7
9 ,
9 8
9 ,
9 9
9 ,
9 1
9 0
10 1
10 ,
10 2
10 ,
10 3
10 ,
10 4
10 ,
10 5
10 ,
10 6
10 ,
10 7
10 ,
10 8
10 ,
10 9
10 ,
10 1
10 0

In [19]:
for tablenum in range(0,9):
    print ("------------")
    for table in range(1,11):
        print(f"{tablenum} * {table} = {tablenum * table}")

------------
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0
------------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

# list comprehension

In [21]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]