In [1]:
fruits =["apple","mango","peach","banana"]
#index =    0       1       2        3
fruits[2]

'peach'

In [2]:
len(fruits)

4

In [3]:
del fruits[1]   #implace
fruits

['apple', 'peach', 'banana']

In [5]:
fruits. remove("apple")   #by remove function
fruits

ValueError: list.remove(x): x not in list

In [6]:
fruits. remove("apple")
fruits

ValueError: list.remove(x): x not in list

In [7]:
x=3

In [9]:
y=[4,7,88,99]
y

[4, 7, 88, 99]

In [10]:
fruits

['peach', 'banana']

In [12]:
fruits[1] ="mango"

In [13]:
fruits. append("apple")
fruits

['peach', 'mango', 'apple']

In [15]:
fruits.insert(0, "grape")
fruits

['grape', 'peach', 'mango', 'apple']

In [16]:
fruits.insert(10,"orange")

In [17]:
name=["shahzad", "ali", "ammar"]
name

['shahzad', 'ali', 'ammar']

In [18]:
z=["karachi", 1945, 23.7]
z

['karachi', 1945, 23.7]

In [19]:
len

In [20]:
fruits.count("orange")

1

In [25]:
a=[2,4,6,87,90,0,7,62,64,56]
a.sort()
a

[0, 2, 4, 6, 7, 56, 62, 64, 87, 90]

In [26]:
a=[2,4,6,87,90,0,7,62,64,56]
a.sort(reverse=True)
a

[90, 87, 64, 62, 56, 7, 6, 4, 2, 0]

In [27]:
random =[2,4,6,87,90,0,7,62,64,56]
random. reverse() #reverse list without sorting
random

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2]

In [28]:
random.append(120)

In [29]:
b=random
b

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2, 120]

In [30]:
b

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2, 120]

In [32]:
b.append(new)
random

NameError: name 'new' is not defined

In [33]:
c=random.copy()

In [34]:
c

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2, 120]

In [35]:
c.append(131)

In [36]:
c

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2, 120, 131]

In [37]:
random

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2, 120]

In [39]:
poppedElement =random.pop()

In [40]:
poppedElement

120

In [41]:
random

[56, 64, 62, 7, 0, 90, 87, 6, 4, 2]

In [42]:
newList=[]

In [44]:
newList.append (random.pop())

In [45]:
newList

[2]

# slicing

In [46]:
alist =[10,9,8,7,6,5,4,3,2,1,]
#index=[0,1,2,3,4,5,,7,8,9]

In [48]:
alist[2:5]

[8, 7, 6]

In [49]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
alist[:5]

[10, 9, 8, 7, 6]

In [51]:
alist[7:5]

[]

In [52]:
students=["ali","aamir", "ammar","adil", "abu"]
#index      -5     -4       -3     -2      -1

In [53]:
students[-3]

'ammar'

In [54]:
students[:-3]

['ali', 'aamir']

In [55]:
students[-1:-5]

[]

In [56]:
students[-5:-1]

['ali', 'aamir', 'ammar', 'adil']

In [58]:
students[-5:4]

['ali', 'aamir', 'ammar', 'adil']

# tuples

In [59]:
a={1,2,3,4,5,6,7,8,}

In [60]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
a= 2,3,4,5,6,7

In [62]:
a

(2, 3, 4, 5, 6, 7)

In [65]:
x,y,z = a #upacking

ValueError: too many values to unpack (expected 3)

In [66]:
a=2,3,4 #packing

In [67]:
z,y,x =a #upacking

In [68]:
x

4

In [69]:
y

3

In [70]:
z

2

# list in
list tuple in list etc etc

In [77]:
ListInList=[1,2,3,['apple','banana','orange',[22,33,44]]]

In [78]:
ListInList

[1, 2, 3, ['apple', 'banana', 'orange', [22, 33, 44]]]

In [79]:
ListInList[3][3][0]

22

In [80]:
alist=[1,2,3,4,['a','b','c','d']]

In [81]:
alist

[1, 2, 3, 4, ['a', 'b', 'c', 'd']]

In [83]:
alist[3].remove('c')

AttributeError: 'int' object has no attribute 'remove'

In [ ]:
ListInList